@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
* {
    scroll-behavior: smooth !important;
}
/* Root */
:root {
    /* Background Color */
    --bg-dark-violet: #1A1D3B;
    --bg-light-blue: #00FBFF;
    --bg-pink: #FF1695;

    /* Background Gradient */
    --bg-heading: linear-gradient(90deg, rgba(51,252,255,1) 30%, rgba(255,0,138,1) 71%, rgba(255,80,176,1) 100%);

    /* Heading Colors */
    --heading-light-blue: #00FBFF;
    --heading-pink: #FF008A;
    --heading-light-pink: #FF50B0;

    /* Paragraph Colors */
    --txt-white: #FFF;

    /* Font Style */
    --font-family-poppins: 'Poppins', sans-serif;
    --font-family-tourney: 'Tourney', sans-serif;
    --font-family-open-sans: 'Open Sans', sans-serif;
}

/* Reusable Styling */
.retro_clouds_h1 {
    font-family: var(--font-family-tourney);
    background: var(--bg-heading);
    background-clip: text;
    color: transparent;
}

.retro_clouds_h2 {
    font-family: var(--font-family-poppins);
}

.retro_clouds_p {
    font-family: var(--font-family-open-sans);
}

.retro_clouds_carousel_img {
    opacity: 0;
    transition: opacity 0.5s;
}

.retro_clouds_carousel_img.image-active {
    opacity: 1;
    transition: opacity 0.5s;
}

.retro_clouds_carousel_button {
    height: 8px;
    width: 8px;
    display: inline-block;
    margin: 10px;
    background: var(--bg-pink);
    opacity: 0.5;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.retro_clouds_carousel_button.btn-active {
    background: var(--bg-pink);
    opacity: 1;
}

.retro_clouds_bg_gradient {
    background: rgb(26,29,59);
    background: linear-gradient(180deg, rgba(26,29,59,1) 0%, rgba(153,13,90,1) 20%, rgba(255,22,149,1) 50%, rgba(153,13,90,1) 80%, rgba(26,29,59,1) 100%);
}

.deals-bg {
    background-image: linear-gradient(rgb(0,0,0,0.25), rgba(0,0,0,0.25)), url(../assets/image-divider-three.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.customProd {
    transition: 200ms ease-in;
}

.customProd:hover {
    border-color: #FF1695 !important;
}

.customProd:hover .customName {
    color: #00FBFF !important;
}

.customDivider {
    background-image: linear-gradient(rgb(0,0,0,0.25), rgba(0,0,0,0.25)), url('../assets/catalog_divider.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

.podKitsBanner {
    position:relative; 
    width:100%; 
    height:100%; 
    background-image:url(../assets/podkit-hero-banner.png); 
    background-size:cover; 
    background-position:center; 
    border:1px solid #ff1695;
}

@media (max-width: 1023px) {
    .podKitsBanner {
        background-size: contain;
    }
}